body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.images{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.btn
{
    margin: 10px;
}

.buttons{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.img{
    width: 500px;
    height: 700px;
}

.form{
    margin: 20px;
    text-align: center;
}