/* * {
    box-sizing: border-box;
} */
.media {
    width: 500px;
    height: 500px;
}

.image {
    width: 100%;
}

.grid-cont {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-image {
    width: 500px;
    height: 300px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 400px);
    height: 500px;
    width: 1000px;
    gap: 20px;
    grid-template-areas:
        "a a b b b"
        "a a b b b"
        "c c d d d"; 
}
.item1 {
    grid-area: a;
    background-color: lightblue;
}

.item2 {
    grid-area: b;
    background-color: darkblue;
}

.item3 {
    grid-area: c;
    background-color: lightgreen;
}

.item4 {
    grid-area: d;
    background-color: darkgray;
}
/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media (max-width: 576px) {
    .media {
        width: 100px;
        height: 100px;
    }
    .wrapper{
        grid-template-columns: repeat(2, 400px);
        width: 500px;
    }
}

/* Header styles */
/* header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

nav li {
	text-align: center;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	display: block;
} */

/* Main
