.form{
    border: 1px solid black;
    padding : 20px;
    margin:auto;
    width:30%;
}
.userpass{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#s{
    border:0;
}
#s:hover{
    border:2px solid black;
}
.radio
{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin:10px;
}
.radio #football{
    margin-left:30px;
}
.checkbox
{
    display:flex;
    flex-direction:row;
    margin:10px;
    justify-content:space-between;
}
#check1{
    margin:5px;

}
.email{
    margin:20px;
}
.buttons{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    margin:30px;
}
.img{
    width:100px;
    height:70px;
}
#btn:hover{
    padding:10px;
    background-color:green;

}

